<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %} Mitty {% endblock %}</title>
  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/offcanvas.css" rel="stylesheet">
</head>
<body>

  {% include "header.html" %}

  <div class="container">

    <div class="row row-offcanvas row-offcanvas-right">
      {% block content %}{% endblock %}
    </div><!--/row-->

    <hr>

    {% include "footer.html" %}

  </div><!--/.container-->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="/js/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>
