{% extends "./layout/layout.html" %}

{% block title %} mitty {% endblock %}

{% block content %}
<section id="userguide" class="section intro">
  <div class="container" style="color: white; padding-left: 0px; padding-top: 50px;">
    <h1> About Mitty </h1>
    <p> For what's about mitty, visit <a href="http://dev.mitty.co/#about"> About mitty</a></p>
    <h1> Down load </h1>
    <P> To down load Mitty mobile application, please visit <a href="https://www.apple.com/jp/ios/app-store/"> Appl app store.</a>
    <h1> Contact </h1>
    <P> To contact us , please visit <a href="http://dev.mitty.co/#contact"> 問い合わせ</a></p>
  </div>
</section>

{% endblock %}
