{% extends "./layout/layout.html" %}

{% block title %} mitty {% endblock %}

{% block content %}
<section id="userguide" class="section intro">
  <div class="container" style="color: white; padding-left: 0px; padding-top: 50px;">
    ユーザーガイドです。なんか書きましょう。<br>
    ユーザーガイドです。なんか書きましょう。<br>
    ユーザーガイドです。なんか書きましょう。<br>
    ユーザーガイドです。なんか書きましょう。<br>
    ユーザーガイドです。なんか書きましょう。<br>
    ユーザーガイドです。なんか書きましょう。<br>
    ユーザーガイドです。なんか書きましょう。<br>
    ユーザーガイドです。なんか書きましょう。<br>
    ユーザーガイドです。なんか書きましょう。<br>
    ユーザーガイドです。なんか書きましょう。<br>
    ユーザーガイドです。なんか書きましょう。<br>
    ユーザーガイドです。なんか書きましょう。<br>
    ユーザーガイドです。なんか書きましょう。<br>
    ユーザーガイドです。なんか書きましょう。<br>
    ユーザーガイドです。なんか書きましょう。<br>
    ユーザーガイドです。なんか書きましょう。<br>
    ユーザーガイドです。なんか書きましょう。<br>
    ユーザーガイドです。なんか書きましょう。<br>
    ユーザーガイドです。なんか書きましょう。<br>
    ユーザーガイドです。なんか書きましょう。<br>
    ユーザーガイドです。なんか書きましょう。<br>
    ユーザーガイドです。なんか書きましょう。<br>
  </div>
</section>

{% endblock %}
